{% extends "layout.html" %}


{% block title %}
Add Project IOTEK
{% endblock title %}

{% block body %}
{% with department=True %}
<div class="bg-white shadow-sm">
    <div class="container">
        {% include "components/navbar.html" %}
    </div>
</div>
{% endwith %}


<div class="container mt-5 mb-4">
    
    <div class="mt-3 d-none" id="alert-container">
        <div class="alert d-flex align-items-center justify-content-between alert-danger " id="alert-statue"
            role="alert">
            <div class="d-flex align-items-center">
                <div style="width: 28px; max-width: 100%;" id="alert-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                </div>
                <p class="mb-0" id="alert-title">

                </p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="close-button"></button>
        </div>
    </div>
    
    <div class="header border-bottom">
        <h2>
            Add Project
        </h2>

        <p class=".load">
            Add Project to <b>{{ department.name_department }}</b>
        </p>
    </div>

    
</div>


<div class="container">

    <form action="{{ url_for('add_project_store', id_dep_ = department.department_identification ) }}" method="post"
        name="add-project" novalidate class="needs-validation">
        <div class="row justify-content-center">

            <div class="content col-lg-8">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Label Project</label>
                    <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                        name="project_label" placeholder="project label" required minlength="4" maxlength="128">
                    <div class="invalid-feedback">
                        label of project required min 4 character
                    </div>

                </div>

                <div>
                    <label for="exampleFormControlInput1" class="form-label">Client INFO</label>
                    <div class="input-group mb-3">

                        <input type="text" class="form-control form-control-lg" placeholder="client brand"
                            name="project_client_brand" aria-label="Username" required>
                        <span class="input-group-text">@</span>

                        <input type="text" class="form-control form-control-lg" placeholder="client location"
                            name="project_client_location" aria-label="Server" required>

                        <div class="invalid-feedback">
                            client info required
                        </div>
                    </div>


                </div>


                <div>
                    <label for="exampleFormControlInput1" class="form-label">Date INFO</label>

                    <div class="input-group mb-3">
                        <input type="date" class="form-control form-control-lg" placeholder="Start At"
                            name="project_start_at" aria-label="start_at" required>
                        <span class="input-group-text">TO</span>
                        <input type="date" class="form-control form-control-lg" placeholder="End At" aria-label="end_at"
                            name="project_end_at" required>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        name="project_description" style="height: 100px" required minlength="4"></textarea>
                    <label for="floatingTextarea2">description</label>
                </div>

                <div>
                    <label for="exampleFormControlInput1" class="form-label">Delay</label>
                    <div class="d-flex align-items-center">
                        <input type="number" class="form-control" name="project_delay" placeholder="delay"
                            aria-label="end_at" value="2" max="6" min="0" style="width: 80px;" required>
                        <p class="mb-0 ms-1">
                            days
                        </p>
                    </div>
                </div>
                <div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckIndeterminate" name="started">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            Started
                        </label>
                    </div>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary btn-lg" type="submit">SUBMIT</button>
                    <button class="btn btn-outline-primary btn-lg " type="reset">RESET</button>
                </div>
            </div>

        </div>
    </form>

</div>




{% endblock body %}


{% block script %}


<script>

    // THIS SCRIPT FOR VALIDATION


    form = document.forms['add-project']

    form.onsubmit = (e) => {

        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }


        form.classList.add('was-validated')


    }


    if (window.location.search.length > 0) {

keys_value_paire = window.location.search.substring(1).split('&')

map_ = new Map()

keys_value_paire.forEach((element) => {
    key_value = element.split('=')

    map_.set(key_value[0], key_value[1])
}
)



        console.log(map_)

        let status = map_.get('status')
        let content  = map_.get('content')
        if(status === 'error' && content.length > 0) {
            
            document.getElementById("alert-title").innerHTML = content.split('+').join(' ') ;
            document.getElementById('alert-container').classList.remove('d-none');
        }

        document.getElementById('close-button').addEventListener('click', (e) =>{
            document.getElementById('alert-container').classList.add('d-none');
        })     
}

</script>

{% endblock script %}