{% extends "layout.html" %}


{% block title %}
Add Project IOTEK
{% endblock title %}

{% block body %}
{% with department=True %}
<div class="bg-white shadow-sm">
    <div class="container">
        {% include "components/navbar.html" %}
    </div>
</div>
{% endwith %}


<div class="container mt-5 mb-4">
    <div class="header border-bottom">
        <h2>
            Update Project
        </h2>

        <p class=".load">
            Update Project of <b>{{ department.name_department }}</b>
        </p>
    </div>
</div>


<div class="container">

    <form action="{{ url_for('update_project_store', id_dep_ = department.department_identification) }}" method="post" novalidate name="update-project">
        <div class="row justify-content-center">

            <div class="content col-lg-8">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Label Project</label>
                    <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                        name="project_label" placeholder="project label" value="{{ project.label }}" required minlength="4">
                </div>

                <div>
                    <label for="exampleFormControlInput1" class="form-label">Client INFO</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="client brand"
                            name="project_client_brand" aria-label="Username" value="{{ project.client_brand }}" required minlength="4">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control form-control-lg" placeholder="client location"
                            name="project_client_location" aria-label="Server" value="{{ project.client_location }}" required minlength="4">
                    </div>
                </div>


                <div>
                    <label for="exampleFormControlInput1" class="form-label">Date INFO</label>

                    <div class="input-group mb-3">
                        <input type="date" class="form-control form-control-lg" placeholder="Start At"
                            name="project_start_at" aria-label="start_at" value="{{ project.start_at.__str__().split(' ')[0] }}" required>
                        <span class="input-group-text">TO</span>
                        <input type="date" class="form-control form-control-lg" placeholder="End At" aria-label="end_at"
                            name="project_end_at" value="{{ project.end_at.__str__().split(' ')[0] }}" required>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        name="project_description" style="height: 100px" required minlength="7"> {{ project.description }} </textarea>
                    <label for="floatingTextarea2">description</label>
                </div>

                <div>
                    <label for="exampleFormControlInput1" class="form-label" >Delay</label>
                    <div class="d-flex align-items-center">
                        <input type="number" class="form-control" name="project_delay" placeholder="delay" required
                            aria-label="end_at" value="{{ project.functional_delay }}" max="6" min="0" style="width: 80px;">
                        <p class="mb-0 ms-1">
                            days
                        </p>
                    </div>
                </div>
                <div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckIndeterminate"
                            name="started" {% if project.is_working_on %} checked {% endif %} >
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            Started
                        </label>
                    </div>
                </div>
                <div class="d-grid gap-2 mt-4">
                <input type="hidden" name="project_id" value="{{ project.id_ }}"/>
                    <button class="btn btn-primary btn-lg" type="submit">SUBMIT</button>
                    <button class="btn btn-outline-primary btn-lg " type="reset">RESET</button>
                </div>
            </div>

        </div>
    </form>

</div>




{% endblock body %}


{% block script %}

<script>
    form = document.forms['update-project']

    form.onsubmit = (e) => {

        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }


        form.classList.add('was-validated')


    }


</script>

{% endblock script %}

